:root {
    --clr-tone: #05CBE9;
    --clr-gb: #111D4A;
    --clr-neutral: #FFF;
    --clr-dark: #232323;

    --ff-100: 'Blinker', sans-serif;
    --ff-200: 'Source Sans Pro', sans-serif;
    --fs-100: 1rem;
    --fs-101: 1.125rem;
    --fs-200: 1.25rem;
    --fs-300: 1.75rem;
    --fs-301: 2.25rem;
    --fw-100: 400;
    --fw-200: 700;
}




/*========================================== 
===========   General Settings  ============
============================================ */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--ff-100);
    font-size: var(--fs-100);
    line-height: 1.5;
    background: #07b84ab7;
}

img {
    display: block;
    width: 100%;
}

h1,
h2,
h3,
p {
    margin: 0;
}

h1,
h2,
h3 {
    line-height: 1;
}

.flow-content > *+* {
    margin-top: 1.125rem;
}




/*========================================== 
==============   Typography  ===============
============================================ */

/*========================================== 
===============   Layout  ==================
============================================ */

/*========================================== 
=============   Media Query  ===============
============================================ */